#ignore all files and folders
*
!*/

#ignore the following folders
/output
/compiler/output
/vendor

#except the following files
!*.cpp
!*.hpp
!*.c
!*.h
!*.hh
!*.inl

!*.sln
!*.vcproj
!*.vcxproj

!*.txt
!*.md

!*.cs
!*.csproj
!*.resx

!*.go
!go.mod
!go.sum
!go.work

!*.json
!*.mk

!*.ini
!*.bat

!.gitignore
!.clang-format
!.clangd
!.editorconfig

#except the following folders
.vscode/settings.json
